# Dependencies
node_modules/

# Environment variables / secrets
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# Editor/OS
.DS_Store
.vscode/
.idea/

# Prisma
backend/prisma/*.db

# Misc
*.local
